pipeline/SQL para Datalake.json
{
	"name": "SQL para Datalake",
	"properties": {
		"activities": [
			{
				"name": "extrairSQL",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"path": "nome"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String"
								},
								"sink": {
									"path": "numero"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String"
								},
								"sink": {
									"path": "cor"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "dataSetSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "datasetDataLakeJSON",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "extrairSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-28.eastus2.logic.azure.com:443/workflows/df5850960c7d42edbaad449e5426925c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=GDeNAYSfMtozP0o36YOFh68Oe9W6HVCnAN4IFoDIgj0",
					"method": "POST",
					"body": {
						"message": "@{activity('extrairSQL').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "fabiano.morais@outlook.com"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-26T19:13:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}